        body{margin:0px;
		     padding:0px;
			 background-color:black;
		    }
		*{margin:0;
	      padding:0;
		  box-sizing:border-box;
	      } 	
	    .header{display:flex;
		       	width:100%;
				height:150px;
				background-color:black;
				color:white;
		       }
		.search{padding:50px;
		        }
        .logo{margin-left:250px;
		     }		 
	    .icons{padding:50px;
		       margin-left:280px;
		      }
		#oc{background-color:black;
		    color:white;
			border-color:skyblue;
		   }
		p{padding:10px;
		  display:inline;
		  }
		nav{background-color:black;
		    height:40px;
		   }
		li{display:inline;
		   padding:15px;
		   }
		.menu{text-decoration:none;}
		.menu:hover{text-decoration:underline;
		            color:white;
		           }
		#offcanvasRight{background-color:lightgreen;}		   
		.menu1{text-decoration:none;}
		.menu1:hover{text-decoration:underline;
		             color:black;
		            }
		.section1{ height:400px;
				   background-color:black;
				   color:white;
		          }
		.s1{display:flex;
		    padding:25px;
		 }
		select{ padding:15px;
		        margin:30px;
				background-color:pink;
				border-radius:20px;
				width:240px;
				text-align:center;
			   }
		.cards{height:450px;
		       border:solid;
			   }
		.c1{display:flex;
			height:400px;
			width:100%;
			justify-content:space-around;
			padding-top:25px;
			padding-top:25px;
			}
		.section2{height:480px;
				  width:100%;
				  display:flex;
				  background-color:black;
				  color:white;
			     }
		.s21{height:475px;
				 width:50%;
			     padding:30px 40px 40px 20px;
			     background-color:gray;
			     color:white;
				 }
		.btnn{margin-left:200px;
                background-color:yellow;
	            width:100px;
                }
        .btnn:active{ background-color:green;
	            }
        label{color:white;
              padding-left:20px;
               }	
        input:hover{background-color:black;
                    color:white;
                   }
        .s22{height:400px;
			 width:50%;
			 }			 
        .context{text-shadow:10px 10px 23px;
		         font-family:sanserif;
		         font-size:50px;
		         padding:80px;
		         }	
      
	    .section3{display:flex;
	              width:100%;
				  height:400px;
				  justify-content:space-around;
				  background-color:black;
				  color:white;
	             }
	    .s31{margin-top:50px;
		     position:relative;
	         }
		
        .s32{position:absolute;
		     left:0;
			 top:0;
			 opacity:0;
			 transition:all 0.7s ease;
		     }
        .s32:hover{opacity:1;}
		
        .section4{border-style:solid none none none;
	              display:flex;   
	              height:300px;
			      padding:80px;
			      background-color:black;
			      color:white;
			      justify-content:space-around;
	             }